@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-200 text-slate-900 antialiased;
    background-image: radial-gradient(#d1d5db 1px, transparent 1px), radial-gradient(#d1d5db 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
}

.pokedex-red { background-color: #dc0a2d; }
.led-blue { 
  background: radial-gradient(circle at 30% 30%, #2196f3, #004ba0); 
  box-shadow: 0 0 10px #2196f3; 
}
.led-red { background: radial-gradient(circle at 30% 30%, #ff5252, #a70000); }
.led-yellow { background: radial-gradient(circle at 30% 30%, #ffeb3b, #c6a700); }
.led-green { background: radial-gradient(circle at 30% 30%, #4caf50, #00701a); }